@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap');

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

.container {
  max-width: 1170px;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
}
p {
  font-size: 1.125rem;
  color: #303030;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

